<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>Password Generator</h1>
        <form action="{% url 'password' %}">
            <label for="length_l">Length of password</label>
            <select name="length" id="length_l">
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12 selected="True">12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
            </select>
            <br>
            <label for="uppercase_c">Uppercase letters</label>
            <input type="checkbox" name="uppercase" id="uppercase_c">
            <br>
            <label for="numbers_c">Numbers</label>
            <input type="checkbox" name="numbers" id="numbers_c">
            <br>
            <label for="special_c">Special Characters</label>
            <input type="checkbox" name="special" id="special_c">
            <br>
            <input type="submit" value="Generate Password" class="btn btn-primary">
        </form>
        <br>
    </div>
    <footer>
        <a href="{% url 'about' %}" >About Page</a>
    </footer>

</body>
</html>